$dark: #1A1E21;
$white: #F2F2F2;
$red: #B95959;
$blue: #64AEBE;
$blue_shadow: #57b3c82e;
$grey: #a4a4a4;
$gold: #FFE600;
$lite: #CCEDFF;

$secondary: #262626;
$secondary-lite: #262C30;




.bg_dark {
    background-color: $dark;
}

.bg_dark-lite {
    background-color: $secondary-lite;
}

.bg_white {
    background-color: $white;
}

.text_red {
    color: $red;
}

.text_blue {
    color: $blue;
}

.text_grey {
    color: $grey;
}

.text_white {
    color: $white; 
}

.text_secondary {
    color: $secondary;
}

.text_gold {
    color: $gold;
}

.text_lite {
    color: $lite;
}

@mixin gradient_primary {
    background: radial-gradient(215.09% 1182.53% at 10.12% -38.03%, #1A1E21 0%, #295662 61.98%, #1A1E21 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(133.6% 1304.69% at 12% 50%, #AAC7CE 0%, #385E9E 94.79%);
}
@mixin gradient_secondary {
    background: radial-gradient(310.37% 226.64% at 138.34% -54.3%, #1D2B30 11.27%, #285460 46.68%, #1B2226 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

}