// * k2d
@font-face {
    font-family: "k2d";
    src: url('../../fonts/k2d/K2D-Light.ttf');
    font-style: normal;
    font-weight: 400;
}
//* khand
@font-face {
    font-family: "khand";
    src: url('../../fonts/khand/Khand-Regular.ttf'),
         url('../../fonts/khand/Khand-Regular.woff');
    font-style: normal;
    font-weight: 400;
}


// -- khand
.khand {
    font-family: 'khand' !important;
    letter-spacing: 1px !important;
}

//  -- title-large
.title-large {
    @include adaptive-value('font-size', 30, 26, 0);

}

// -- title
.title {
    @include adaptive-value('font-size', 26, 18, 0);
}

// -- sub-title
.sub-title {
    @include adaptive-value('font-size', 22, 16, 0);
}

//  -- text
.text {
    @include adaptive-value('font-size', 16, 13, 0);
    @include adaptive-value('line-height', 20, 22, 0);
}

//  -- text
.text-smal {
    @include adaptive-value('font-size', 15, 12, 0);
    @include adaptive-value('line-height', 20, 22, 0);
}

//  -- text
.text-large {
    @include adaptive-value('font-size', 17, 14, 0);
}
